<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body style="text-align: center">
    <h1>Todo App with Node js</h1>

    <form action="/" method="post">
      <input type="text" name="text" placeholder="new" />
      <button type="submit" name="add" value="add" autocomplete="off"> &#8209&#8209 + &#8209&#8209 </button>
    </form>

    <ul>
      <% for(let i = 0; i<data.length; i++){ %>
        <form action="/" method="post">
        <li>
          <%= data[i] %> 
          <button type="submit" name="done" value=<%= i %>>X</button>
          </li>
        </form>
        <% } %>
        <!-- <li>task two <input type="checkbox" name="b" id="a" /></li> -->
      </ul>
  </body>
</html>
